<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CorreoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.asae.com.mx:5050/Correo.asmx" binding="basicHttpBinding"
                bindingConfiguration="CorreoSoap" contract="WSCorreo.CorreoSoap"
                name="CorreoSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
