<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--meta http-equiv="refresh" content="10; url=https://www.asae.com.mx/" /-->
    <title>Confirmación</title>

    <link href="~/ExternoEstilos/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/ionicons.min.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/animate.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/slider.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/owl.carousel.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/owl.theme.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/fuentes.css" rel="stylesheet" />
    <link href="~/ExternoEstilos/style.css" rel="stylesheet" />

    <style>
        #hero-area {
            background: url(images/2.jpg) no-repeat 50%;
            background-size: cover;
            background-attachment: fixed;
            padding: 230px 0;
            color: #fff;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            position: relative;
        }

        .global-page-header {
            background-attachment: fixed;
            background-size: cover;
            padding: 60px;
            position: relative;
            background-image: linear-gradient(114deg, #509197 30%, #04bdd5 99%);
            color: #fff;
        }

        #call-to-action {
            /*background: #02bdd5;*/
            background-image: linear-gradient(114deg, #509197 30%, #04bdd5 99%);
            background-size: cover;
            background-attachment: fixed;
            padding: 80px 0;
            text-align: center;
            position: relative;
            color: #fff;
        }


        .box-error {
            padding: 10px;
            color: #D8000C;
            border-radius: 2px;
            font-size: 14px;
            background-color: #FFBABA;
        }

        .box-success {
            background-color: #6cb670;
            border-radius: 2px;
            color: #fff;
            font-size: 14px;
            padding: 10px;
        }
    </style>

</head>
<body>

    <header id="top-bar" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <div class="navbar-brand">
                    <a href="https://www.asae.com.mx/" style="color: inherit;">
                        <img src="~/ExternoEstilos/asae.png" width="60%">
                    </a>
                </div>
                <!-- /logo -->
            </div>
            <!-- main menu -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <div class="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://www.asae.com.mx/herramientas-y-articulos/eventos-y-clasificaciones">Eventos</a>
                        </li>
                        <!--
                        <li>
                            <a href="index.html" >Home</a>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                </ul>
                            </div>
                        </li>
                        -->
                        <li class="dropdown">
                            <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" class="dropdown-toggle" data-toggle="dropdown">Soluciones <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="https://www.asae.com.mx/soluciones/camaras-termicas-para-deteccion-de-fiebre">Cámaras</a></li>
                                    <li><a href="https://www.asae.com.mx/soluciones/software-de-gestion-de-proyectos-xpinnit">Xpinnit</a></li>
                                    <li><a href="https://www.asae.com.mx/soluciones/software-para-documentar-analizar-mejorar-el-tiempo-de-trabajo">JobCTRL</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="https://www.asae.com.mx/#feature">Servicios </a></li>
                        <li><a href="https://www.asae.com.mx/#SolucionesTI">Soluciones TI </a></li>
                        <li><a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#">Capacitación </a></li>
                        <li><a href="https://www.asae.com.mx/contacto/atencion-a-clientes">Contacto </a></li>
                        <li><a href="https://www.asae.com.mx/web/usuarios-y-asociados/intranet">Intranet </a></li>
                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>

    <style>
        #hero-area {
            background: url('../../images/jobctrl/images1699-5ca7a7dfb26d5-1024x683.jpg') no-repeat 50%;
            background-size: cover;
            background-attachment: fixed;
            padding: 230px 0;
            color: #fff;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            position: relative;
        }

            #hero-area:before {
                content: '';
                z-index: 9;
                background-image: linear-gradient(114deg, #ff57221f 11%,#ff980000 94%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

        .cd-headline.slide .cd-words-wrapper {
            color: #ff6802;
        }

        #call-to-action {
            /* background: #02bdd5; */
            background-image: linear-gradient(114deg, #FF5722 30%, #FF9800 99%);
            background-size: cover;
            background-attachment: fixed;
            padding: 80px 0;
            text-align: center;
            position: relative;
            color: #fff;
        }

        .service-page .service-parts .block i {
            font-size: 35px;
            color: #ff5722;
        }

        .title {
            font-size: 30px;
            line-height: 1.1;
            font-weight: 300;
            color: #ff5722;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .global-page-header {
            background-attachment: fixed;
            background-size: cover;
            padding: 60px;
            position: relative;
            background-image: linear-gradient(114deg, #ff5722 30%, #ff8b06 99%);
            color: #fff;
        }
    </style>

    <br>
    <br>
    <br>
    <br>
    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>WEBINAR JC360</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="https://www.asae.com.mx/">
                                    <i class="ion-ios-home"></i>
                                    ASAE
                                </a>
                            </li>
                            <li class="active">Job360</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ==================================================
        Company Description Section Start
    ================================================== -->
    

    @RenderBody()


    <!--
           ==================================================
           Call To Action Section Start
           ================================================== -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInDown animated" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInDown;">
                            ¿Necesitas más información? Contáctanos
                        </h2>
                        <p class="wow fadeInDown animated" data-wow-delay=".5s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.5s; animation-name: fadeInDown;">Estamos aquí para asistirte. Llámanos o escríbenos un email o contáctanos mediante nuestros canales sociales. Suscríbete y recibe nuestras ultimas noticias y promociones en las mejores herramientas en soluciones TI</p>
                        <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" class="btn btn-default btn-contact wow fadeInDown animated" data-wow-delay=".7s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.7s; animation-name: fadeInDown;">Suscribirme</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--
    <section id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <h2 class="subtitle wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay=".3s" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInDown;">Envíanos un mensaje.</h2>
                        <p class="subtitle-des wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay=".5s" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.5s; animation-name: fadeInDown;">
                            Estamos a su disposición, para más información o para programar una reunión, le pedimos que rellene el siguiente formulario y nuestros consultores se pondrán en contacto con usted.
                        </p>
                        <div class="contact-form">
                            <form id="contact-form" method="#" action="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" role="form" novalidate="novalidate">

                                <div class="form-group wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay=".6s" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.6s; animation-name: fadeInDown;">
                                    <input type="text" placeholder="Tu Nombre" class="form-control" name="name" id="name">
                                </div>

                                <div class="form-group wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay=".8s" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.8s; animation-name: fadeInDown;">
                                    <input type="email" placeholder="Tu Email" class="form-control" name="email" id="email">
                                </div>

                                <div class="form-group wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1s" style="visibility: visible; animation-duration: 500ms; animation-delay: 1s; animation-name: fadeInDown;">
                                    <input type="text" placeholder="Asunto" class="form-control" name="subject" id="subject">
                                </div>

                                <div class="form-group wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1.2s" style="visibility: visible; animation-duration: 500ms; animation-delay: 1.2s; animation-name: fadeInDown;">
                                    <textarea rows="6" placeholder="Mensaje" class="form-control" name="message" id="message"></textarea>
                                </div>

                                <div class="g-recaptcha" data-sitekey="6LdXFXcUAAAAABTN8TrSf30UgdaxPjFL1FB4vcaS"><div style="width: 304px; height: 78px;"><div><iframe src="./Asae Consultores S.A de C.V_files/anchor.html" width="304" height="78" role="presentation" name="a-9386yqt9lfwt" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;" src="./Asae Consultores S.A de C.V_files/saved_resource(2).html"></iframe></div>
                                <br>
                                <div id="alertBoxes"></div><span class="timer" id="timer"></span>
                                <br>
                                <div id="success" class="success">
                                    Gracias, tú mensaje ha sido envido.
                                </div>

                                <div id="error" class="error">
                                    Lo sentimos. Intenta más tarde.
                                </div>

                                <div id="submit" class="wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1.4s" style="visibility: visible; animation-duration: 500ms; animation-delay: 1.4s; animation-name: fadeInDown;">
                                    <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Enviar mensaje">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-area">
                        <h2 class="subtitle  wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay=".3s" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInDown;">Ubicación </h2>
                        <p class="subtitle-des wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay=".5s" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.5s; animation-name: fadeInDown;">
                            Visitas nuestras instalaciones!.

                        </p>
                        <div class="map">
                            <iframe src="~/ExternoEstilos/embed.html" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row address-details">
                <div class="col-md-4">
                    <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                        <i class="ion-ios-location-outline"></i>
                        <h5>Margaritas 426, Álvaro Obregón, Ciudad de México</h5>
                    </div>
                </div>
                <!--
                    <div class="col-md-3">
                        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <i class="ion-ios-location-outline"></i>
                            <h5>125 , Kings Street,Melbourne <br>United Kingdom,600562</h5>
                        </div>
                    </div>

                -->
    <!--div class="col-md-4">
                    <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0.7s; animation-name: none;">
                        <i class="ion-ios-email-outline"></i>
                        <p>asae_contactanos@asae.com.mx <br></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s" style="visibility: hidden; animation-duration: 500ms; animation-delay: 0.9s; animation-name: none;">
                        <i class="ion-ios-telephone-outline"></i>
                        <p>(55) 53 22 05 18</p>
                    </div>
                </div>
            </div>
        </div>
    </section-->
    <!--
            ==================================================
            Footer Section Start
            ================================================== -->
    <footer id="footer">
        <div class="container">
            <div class="col-md-6">
                <p class="copyright">
                    Copyright: <span>
                        <script type="text/javascript" async="" src="~/ExternoEstilos/recaptcha__es_419.js.descarga" crossorigin="anonymous" integrity="sha384-CuI154LNj4qZVGh/OdniIEGOGqizY8C2n6R5VSe41wtDvxNyeqobkCrdQBQThfcE"></script>
                        <script id="facebook-jssdk" src="~/ExternoEstilos/xfbml.customerchat.js.descarga"></script>
                        <script>document.write(new Date().getFullYear())</script>2021
                    </span> . All Rights Reserved
                    <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" target="_blank">Asae Consultores S.A de C.V</a>. <br>
                    Mas información
                    <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" target="_blank">
                        Asae Consultores S.A de C.V
                    </a>
                </p>
            </div>
            <div class="col-md-6">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <img src="~/ExternoEstilos/BlueAsae.png" width="50%">
                    </li>
                    <li>
                        <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.asae.com.mx/conferencia-web/registro-de-asistencia/confirmacion?dt=Z449KGB6HXWOO9MTMONCPAMY1Y0FIV#" class="Google Plus">
                            <i class="ion-social-googleplus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer> <!-- /#footer -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v9.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat" attribution="setup_tool" page_id="682320818526294" theme_color="#0A7CFF"></div>

    <!-- Template Javascript Files
    ================================================== -->
    <!-- jquery -->
    <script src="~/ExternoEstilos/api.js.descarga"></script>
    <script src="~/ExternoEstilos/jquery.min.js.descarga"></script>
    <!-- Form Validation -->
    <script src="~/ExternoEstilos/jquery.form.js.descarga"></script>
    <script src="~/ExternoEstilos/jquery.validate.min.js.descarga"></script>
    <!-- owl carouserl js -->
    <script src="~/ExternoEstilos/owl.carousel.min.js.descarga"></script>
    <!-- bootstrap js -->
    <script src="~/ExternoEstilos/bootstrap.min.js.descarga"></script>
    <!-- wow js -->
    <script src="~/ExternoEstilos/wow.min.js.descarga"></script>
    <!-- slider js -->
    <script src="~/ExternoEstilos/slider.js.descarga"></script>
    <!-- Fancybox -->
    <script src="~/ExternoEstilos/jquery.fancybox.js.descarga"></script>
    <!-- template main js -->
    <script src="~/ExternoEstilos/sweetalert.min.js.descarga"></script>
    <script src="~/ExternoEstilos/bootstrap-notify.js.descarga"></script>

    <script src="~/ExternoEstilos/main.js.descarga"></script>
    <script src="~/ExternoEstilos/jquery"></script>

    <script src="~/ExternoEstilos/bootstrap"></script>

    <script>
        $(document).ready(function () {

            $('#contact-form').validate({
                rules: {
                    name: {
                        required: true, minlength: 4
                    }
                    , email: {
                        required: true, email: true
                    }
                    , subject: {
                        required: false,
                    }
                    , message: {
                        required: true,
                    }
                    ,
                }
                , messages: {
                    user_name: {
                        required: "Come on, you have a name don't you?",
                        minlength: "Your name must consist of at least 2 characters"
                    }
                    , email: {
                        required: "Por favor ingrese su dirección de correo electrónico.",
                    }
                    , message: {
                        required: "Coloca tu mensaje",
                        minlength: "Your name must consist of at least 2 characters"
                    }
                    ,
                }
                , submitHandler: function (form) {
                    EnvioForm();
                    //$(form).ajaxSubmit( {
                    //    type:"POST", data: $(form).serialize(), url:"sendmail.php", success: function() {
                    //        $('#contact-form #success').fadeIn();
                    //    }
                    //    , error: function() {
                    //        $('#contact-form #error').fadeIn();
                    //    }
                    //}
                    //);
                }
            });
        });

        function EnvioForm() {
            var timeSlide = 500;
            $('#timer').hide(0);
            $('#timer').css('display', 'none');

            $('.box-success,.box-error').slideUp(timeSlide);
            setTimeout(function () {

                //if (valida()) {
                var arreglo = [];
                var obj = {};

                obj['nombre'] = $('#name').val();
                obj['email'] = $('#email').val();
                obj['asunto'] = $('#subject').val();
                obj['mensaje'] = $('#message').val();
                obj['recaptcha'] = grecaptcha.getResponse();

                arreglo.push(obj);

                var jsonObject = {
                    "Email": arreglo
                };

                $.ajax({
                    url: "/Email/LlamarJson",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (response) {
                        $('#timer').fadeOut(300);
                        $('#alertBoxes').html('<div class="box-error"></div>');
                        $('.box-error').hide(0).html('Lo sentimos. Intenta más tarde.');
                        $('.box-error').slideDown(timeSlide);
                        grecaptcha.reload();
                        grecaptcha.reset();
                    },
                    success: function (response) {
                        if (response == "ok") {

                            $('#alertBoxes').html('<div class="box-success"></div>');
                            $('.box-success').hide(0).html('Mensaje enviado.');
                            $('.box-success').slideDown(timeSlide);

                            window.setTimeout('location.reload()', 3000); //Reloads after three seconds


                        } else {
                            $('#timer').fadeOut(300);
                            $('#alertBoxes').html('<div class="box-error"></div>');
                            $('.box-error').hide(0).html(response);
                            $('.box-error').slideDown(timeSlide);
                            grecaptcha.reload();
                            grecaptcha.reset();
                        }
                    }
                });

                //}
                //else {
                //    $('#timer').fadeOut(300);
                //    $('#alertBoxes').html('<div class="box-error"></div>');
                //    $('.box-error').hide(0).html("Recapcha no verificado.");
                //    $('.box-error').slideDown(timeSlide);
                //}
            }, timeSlide);

        }

        function valida() {
            var respuesta = false;
            var response = grecaptcha.getResponse();

            if (response.length == 0) {
                respuesta = false; //"Captcha no verificado";
            } else {
                respuesta = true;
            }
            return respuesta;
        };

    </script>

    <div style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;"><div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;"></div><div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"></div><div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"></div><div style="z-index: 2000000000; position: relative;"><iframe title="Desafío de reCAPTCHA" src="./Asae Consultores S.A de C.V_files/bframe.html" name="c-9386yqt9lfwt" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" style="width: 100%; height: 100%;"></iframe></div></div>
</body>
</html>


