<ul class="nav nav-line nav-color-secondary">
    <li class="nav-item">
        <a id="m1" href="/Marketing/ModificarCampaña?IdCampaña=@Request["IdCampaña"]" class="nav-link"><i class="fas fa-pencil-ruler text-primary"></i> Campaña</a>
    </li>
    <li class="nav-item">
        <a id="m2" href="/Marketing/ModificarContactos?IdCampaña=@Request["IdCampaña"]" class="nav-link"><i class="fas fa-address-card text-secondary"></i> Contactos</a>
    </li>
    <li class="nav-item">
        <a id="m3" href="/Marketing/ModificarCorreo?IdCampaña=@Request["IdCampaña"]" class="nav-link"><i class="fas fa-envelope-open text-info"></i> Correo</a>
    </li>
    <li class="nav-item" style="display: none;">
        <a id="m4" href="/Marketing/Recordatorios?IdCampaña=@Request["IdCampaña"]" class="nav-link"><i class="fas fa-paper-plane text-success"></i> Recordatorios</a>
    </li>

    <!-------------- Deshabilitación de funciones------------------- -->
    <li class="nav-item" style=" display: none;">
        <a id="m5" href="/Marketing/Estadisticas?IdCampaña=@Request["IdCampaña"]" class="nav-link"><i class="fas fa-chart-bar text-warning"></i> Estadísticas</a>
    </li>
    <li class="nav-item" style=" display: none;">
        <a id="m6" href="/Marketing/ArchivoICS?IdCampaña=@Request["IdCampaña"]" class="nav-link"><i class="fas fa-file text-primary"></i> Archivo para Agendar Evento</a>
    </li>
    <li class="nav-item" style=" display: none;">
        <a id="m6" href="/Marketing/SeguimientoCampaña?IdCampaña=@Request["IdCampaña"]" class="nav-link"><i class="fas fa-pencil-alt text-secondary"></i>Seguimiento</a>
    </li>
</ul>