
@{
    ViewBag.Title = "Confirmacion";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <img src="~/ExternoEstilos/lading.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color: rgb(255, 106, 0); visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInUp;">Gracias por confirmar tu participación</h3>
                    <p class="wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.5s; animation-name: fadeInUp;">
                        Te recomendamos dar un vistazo a las recomendaciones para una videoconferencia. No faltes.
                    </p>
                    <br><br>
                    <h3 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color: rgb(255, 106, 0); visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInUp;">Información  del contacto</h3>
                    <div class="row service-parts">
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated animated" data-wow-duration="400ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 600ms; animation-name: fadeInUp;">
                                <!--i class="ion-ios-flame-outline"></i-->
                                <h4>Nombre</h4>
                                <p>@Html.Raw(ViewBag.Nombre)</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated animated" data-wow-duration="400ms" data-wow-delay="800ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 800ms; animation-name: fadeInUp;">
                                <!--i class="ion-ios-flame-outline"></!--i>
                                <h4>Empresa</h4>
                                <p></p-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated animated" data-wow-duration="400ms" data-wow-delay="1s" style="visibility: visible; animation-duration: 400ms; animation-delay: 1s; animation-name: fadeInUp;">
                                <!--i class="ion-ios-flame-outline"></i-->
                                <h4>Evento </h4>
                                <p><strong> ID de reunión: </strong> 922 8229 9946</p>
                                <p><strong> Código de acceso: </strong></p>
                                <p>Unirse a la reunión Zoom https://zoom.us/j/92282299946</p>
                            </div>
                        </div>
                        <!--
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                    <i class="ion-ios-paper-outline"></i>
                                    <h4>THEMEING</h4>
                                    <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                                </div>
                            </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <section class="global-page-header" style="padding: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-md-12 wow fadeInLeft animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <div class="post-content">
                    <br><br><br>
                    <blockquote>
                        RECOMENDACIONES PARA UNA VIDEOCONFERENCIA.
                    </blockquote>
                    <p>

                    </p>
                    <ol>
                        <li>Utilizar audífonos para evitar el eco o retorno durante la sesión.</li>
                        <li>
                            Espacio físico adecuado para realizar la videoconferencia, sin ruido exterior, en un lugar de
                            poco tránsito de personas y/o vehículos, por ejemplo teléfonos, personas hablando, es
                            conveniente evitar ruidos molestos para los demás asistentes, cerrar el micrófono mientras
                            no estoy interviniendo y no olvidar activarlo para hablar, recuerde que todos los asistente
                            escucharan todo lo que se hable a través del micrófono.
                        </li>
                        <li>
                            El presentador u organizador de la sala, puede cerrar los micrófonos a todo la audiencia
                            para evitar el ruido, interferencia.
                        </li>
                        <li>
                            Estar atentos a las indicaciones que les está suministrando el presentador u organizador de la sala: cuando le
                            soliciten activar el micrófono, compartir pantalla, control del teclado recibir la invitación
                            para poder participar en la clase.
                            .
                        </li>
                        <li>
                            Validar los dispositivos al ingresar a la sala, cámara, micrófono, audio, volumen de mi
                            equipo, antes de comunicar al administrador de la sala que no escuchamos e
                            interrumpir innecesariamente la sesión.
                        </li>
                        <li>
                            Puntualidad para iniciar la sesión, leer la documentación o recomendaciones para la
                            videoconferencia.
                        </li>
                        <li>
                            Solo hacer uso en el computador de los programas necesarios para realizar la
                            videoconferencia, no se recomienda descargar archivos durante la sesión únicamente los
                            que requiera para videoconferencia, navegar por internet, abrir otras aplicaciones al mismo tiempo
                            de la videoconferencia que consuman ancho de banda.
                        </li>
                        <li>
                            La cámara es opcional, solo utilizarla cuando vaya a intervenir, durante la sesión si no se
                            requiere mantenerla apagada, genera problemas de conexión por la transmisión de video
                            innecesaria. Tener cuidado el sitio donde nos ubicamos, si la persona está sentada con la
                            ventada a la espalda (contraluz), y activa la cámara la imagen no es nítida para los demás
                            participantes.
                        </li>
                        <li>
                            Tiene la opción de chat, en donde puede realizar preguntas en caso de no contar con
                            micrófono, comunicar que tiene inconvenientes.
                        </li>
                        <li>
                            Contar con buena conexión a internet.
                        </li>
                        <li>
                            Si se tiene la posibilidad, conectar el computador por cable, la velocidad es mejor,
                            conexiones inalámbricas (WiFi) deben ser evitadas - la comunicación es inestable por este
                            medio.
                        </li>
                        <li>
                            Ingresar con tiempo a la sesión, para que pueda descargar el software requerido para
                            conectarse, explorar la herramienta.
                        </li>
                        <li>
                            Si va a realizar una pregunta, primero presentarnos para que la audiencia identifique la
                            persona que está hablando.
                        </li>
                        <li>Hablar claro e intentar mantener un volumen constante.</li>
                        <li>
                            Cuando una persona habla, los demás asistentes la escucharán aproximadamente medio
                            segundo después. Este pequeño retraso no dificulta el diálogo pero hay que tenerlo en
                            cuenta a la hora de participar en una discusión.
                        </li>
                    </ol>
                    <p>
                        <br><br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
    
    
