
@{
    ViewBag.Title = "Index4";
}

<script>
    $(document).ready(function () {

        $('#IndexHome').addClass("nav-item active submenu");

    });

</script>

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">

                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-12 col-lg-12">

                                <h2>En construcción</h2>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>