
@{
    ViewBag.Title = "Index3";
}

<script>

    $(document).ready(function () {

        $('#opcAdmin').addClass("nav-item active submenu");

        $('#admin').addClass("collapse show");
        //$('#sopcBusq').addClass("active");        
    });
</script>

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Administración General</h4>
        </div>
        <div class="row">


        </div>

    </div>

