
@{
    ViewBag.Title = "Invitado";
}

<script>
    $(document).ready(function () {

        $('#IndexGuest').addClass("nav-item active submenu");

    });
</script>

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">CRM-ASAE</h2>
            </div>
            <div class="ml-md-auto py-2 py-md-0"></div>
        </div>
    </div>
</div>

<!-- Contenido aquí -->
<div class="page-inner mt--5">

</div>