
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script src="../assets/js/CRM.js"></script>


@*@CRM.Utilerias.Cifrado.Desencriptar("50bteRavVKR5ykS8I3Gh1Q==");*@


@if (TempData["LoginError"] != null)
{
    <div class="alert alert-danger">
        @TempData["LoginError"]
    </div>
}

<form method="post" action="/Home/Login">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <img src="@ViewBag.Resultado[0].Logo" />
                </div>
                <div class="col-2"></div>
            </div>
            @*<h3 class="text-center" style="margin-top: -40px;">Login</h3>*@
            @*<h3 class="text-center">@ViewBag.Resultado[0].Nombre</h3>*@
            <div class="login-form">
                <div class="form-group">
                    <label for="clave" class="placeholder"><b>Clave o Correo</b></label>
                    <input id="clave" name="clave" type="text" class="form-control" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="contraseña" class="placeholder"><b>Contraseña</b></label>

                    <div class="position-relative">
                        <input id="contraseña" name="contraseña" type="password" class="form-control" required>
                        <div class="show-password">
                            <i class="icon-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn  col-md-5 float-right mt-3 mt-sm-0 fw-bold" style="background-color:@ViewBag.Resultado[0].Color;color:white">Acceder</button>
                    <br><br><br><a href="/Home/RecuperarContraseña" class="link float-right" style="color:@ViewBag.Resultado[0].Color">Recuperar mi contraseña</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    window.onload = function () {
        document.getElementById("clave").focus();
    };

    $(function () {
        var msg = '@ViewData["Mensaje"]';
        if (msg == 'Falso') {
            Mensajes('Atención', 'El usuario no existe, tecleó mal la clave o la contraseña ó está bloqueado', 3);

        }
        else {

        }
    });
</script>