
@{
    ViewBag.Title = "Otras";
}

<script>
    $(document).ready(function () {

        $('#opcConfig').addClass("nav-item active submenu");

    });

</script>

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Cambiarse a otra empresa</h4>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card">

                <div class="card-header">
                    
                </div>

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-12 col-lg-12">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="/Home/ReasignarEmpresa?mxm=2">Asae</a></li>
                                <li class="list-group-item"><a href="/Home/ReasignarEmpresa?mxm=4">Arben</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
