
@{
    ViewBag.Title = "AltaResponsables";
}

<script>

    $(document).ready(function () {
        $('#opcOport').addClass("nav-item active submenu");
        //$('#oport').addClass("collapse show");
        //$('#sopcOport').addClass("active");

    });


</script>

<h1>Alta de responsables</h1>

