
@{
    ViewBag.Title = "Metas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Metas</h4>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>

