
@{
    ViewBag.Title = "Nueva";
}

<script>

    $(document).ready(function () {
        $('#opcAdmin').addClass("nav-item active submenu");
        $('#admin').addClass("collapse show");
        $('#sopcTiArc').addClass("active");

    });

</script>
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Agregar una nueva extensión para subir</h4>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card">


                <div class="card-body">

                    

                </div>


                




            </div>
        </div>


    </div>
</div>