
@{
    ViewBag.Title = "Permisos";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#opcAdmin').addClass("nav-item active submenu");
        $('#admin').addClass("collapse show");
        $('#sopcPermisos').addClass("active");
    });

</script>

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Permisos por Usuario para el Sistema</h4>
    </div>
    <div class="row">


    </div>
</div>


