
@{
    ViewBag.Title = "Editar";
}

<script>
    $(document).ready(function () {

        var obtenerParametrodeURL = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };

        var idd = obtenerParametrodeURL('Id');
        $.ajax({
            url: "/Tareas/SeleccionarTareaEdicionPorId/" + idd
            , type: "GET"
            , contentType: "application/json"
            , dataType: "json",
            success: function (data) {
                console.log(data);
                $('#Asunto').val(data.Tareas.Asunto);
                $('#Responsable').val(data.Usuarios.Id);
                var fechaInicio = new Date(parseInt(data.Tareas.Inicio.substr(6)));
                $('#Inicio').val(fechaInicio.getDate() + '/' + (fechaInicio.getMonth() + 1) + '/' + fechaInicio.getFullYear());
                var fechaFin = new Date(parseInt(data.Tareas.Fin.substr(6)));
                $('#Fin').val(fechaFin.getDate() + '/' + (fechaFin.getMonth() + 1) + '/' + fechaFin.getFullYear());
                $('#Actividad').val(data.Tareas.Actividad);
                $('#Estado').val(data.Tareas.Estado);
                $('#Avance').val(data.Tareas.Avance);
                $('#Prioridad').val(data.Tareas.Prioridad);
                $('#HoraInicio').val(data.Tareas.HoraInicio);
                $('#HoraFin').val(data.Tareas.HoraFin);
                $('#Notas').val(data.Tareas.Notas);
            },
            error: function (errormessage) {
                swal({
                    title: 'CRM ASAE',
                    text: 'Ha habido un error al intentar procesar los datos',
                    icon: 'error',
                    buttons: {
                        confirm: {
                            className: 'btn btn-error'
                        }
                    }
                });
            }
        });
        
    });
</script>

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Editar Tema</h4>
    </div>
    <div class="row">


        <div class="col-md-12">
            <div class="card">

                <form method="post" action="Agregar">
                    <div class="card-body">

                        <div class="separator">
                            <label><b>Editar Tema</b></label>
                            <p>&nbsp;</p>
                        </div>


                        <div class="row">

                            <input type="hidden" name="IdContacto" />
                            <input type="hidden" name="IdEmpresa" />


                            <div class="col-md-6 col-lg-5">

                                <div class="form-group form-inline">
                                    <label for="Asunto" class="col-md-3 col-form-label">Asunto</label>
                                    <div class="col-md-9 p-0">
                                        <input type="text" class="form-control input-solid" id="Asunto" tabindex="1">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Responsable" class="col-md-3 col-form-label">Responsable</label>
                                    <div class="col-md-9 p-0">
                                        <!--input type="text" class="form-control input-full" id="Responsable" tabindex="3"-->
                                        <select class="form-control input-solid" id="Responsable" name="Responsable" required style="width: 250px" tabindex="3">
                                            <option value="">&nbsp;</option>
                                            @foreach (var itm in ViewBag.Usuarios)
                                            {
                                                <option value="@itm.Usuarios.Id">@itm.Usuarios.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="FechaInicio" class="col-md-3 col-form-label">Inicio</label>
                                    <div class="col-md-5 p-0">
                                        <input type="text" class="form-control input-solid" id="Inicio" tabindex="5">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="FechaFin" class="col-md-3 col-form-label">Fin</label>
                                    <div class="col-md-5 p-0">
                                        <input type="text" class="form-control input-solid" id="Fin" tabindex="7">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Actividad" class="col-md-3 col-form-label">Actividad</label>
                                    <select class="form-control input-solid" id="Actividad" style="width: 250px" tabindex="9">
                                        <option value="">&nbsp;</option>
                                        @foreach (var itm in ViewBag.Actividades)
                                        {
                                            <option value="@itm.Id">@itm.Nombre</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Prioridad" class="col-md-3 col-form-label">Prioridad</label>
                                    <select class="form-control input-solid" id="Prioridad" name="Actividad" required style="width: 250px" tabindex="10">
                                        <option value="">&nbsp;</option>
                                        <option value="1">Baja</option>
                                        <option value="2">Normal</option>
                                        <option value="3">Alta</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-6 col-lg-5">

                                <div class="form-group form-inline">
                                    <label for="Estado" class="col-md-3 col-form-label">Estado</label>
                                    <select class="form-control input-solid" id="Estado" style="width: 250px" tabindex="2">
                                        <option value="">&nbsp;</option>
                                        <option value="1">No Comenzada</option>
                                        <option value="2">En Curso</option>
                                        <option value="3">Completada</option>
                                        <option value="4">En espera de respuesta</option>
                                        <option value="5">Aplazada</option>
                                    </select>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Avance" class="col-md-3 col-form-label">Avance %</label>
                                    <div class="col-md-3 p-0">
                                        <input type="number" id="Avance" class="form-control input-solid" min="0" max="100" step="10" style="width:20px" tabindex="4">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="HoraInicio" class="col-md-5 col-form-label">Hora Inicio (hh:mm)</label>
                                    <div class="col-md-5 p-0">
                                        <input type="time" id="HoraInicio" class="form-control input-solid" style="width:20px" tabindex="6">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="HoraFin" class="col-md-5 col-form-label">Hora Fin (hh:mm)</label>
                                    <div class="col-md-5 p-0">
                                        <input type="time" id="HoraFin" class="form-control input-solid" style="width:20px" tabindex="8">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <p></p>
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#ModalActividadAgregar">Agregar Nueva Actividad</a>
                                </div>


                            </div>

                            <div class="col-md-6 col-lg-4">
                                &nbsp;
                            </div>

                            <div class="form-group">
                                <label for="Notas">Notas</label>
                                <textarea id="Notas" class="form-control input-solid" rows="5" cols="100" tabindex="11"> 
                            </textarea>
                            </div>

                        </div>
                    </div>
                    <div class="card-action label-align-center">
                        <button type="submit" class="btn btn-primary" tabindex="11">Guardar</button>
                    </div>
                </form>

            </div>
        </div>





    </div>
</div>