@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Index";
}


<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title text-danger">Error de Sistema</h4>
    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="card">


                <div class="card-body">

                    <p>Ha ocurrido un error, informe de esto al administrador.</p>

                    @if (Model != null)
                    {
                        <p>@Model.Exception.Message</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
