
@{
    ViewBag.Title = "NotFunction";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title text-danger">Error de Red o de Funcionamiento</h4>
    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="card">


                <div class="card-body">

                    <p>Ha ocurrido un error ajeno al sistema, probablemente el acceso a internet o la red de datos se ha caído o no está funcionando, intente más tarde.</p>

                </div>
            </div>
        </div>
    </div>
</div>


