
@{
    ViewBag.Title = "NotFound";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title text-danger">Página no encontrada</h4>
    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="card">


                <div class="card-body">

                    <p>La página solicitada no está disponible.</p>

                </div>
            </div>
        </div>
    </div>
</div>

