<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mode" value="Daily"/>
    <add key="IntervalMinutes" value="1"/>
    <add key="ScheduledTime" value="09:01"/>
    <add key="Ruta" value="C:\\CorreosEnvios\\CRMCorreos\\ServicioLog.txt"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CorreoSoap"/>
        <binding name="CorreoSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.asae.com.mx:5050/Correo.asmx" binding="basicHttpBinding" bindingConfiguration="CorreoSoap" contract="ReferenciaDeServicioDeCorreoDeASAE.CorreoSoap" name="CorreoSoap"/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--Local-->
    <add name="CRMConexion" connectionString="Data Source=DESKTOP-388ER4S\SQLEXPRESS; Initial Catalog=CRM;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <!--Productivo-->
    <!--add name="CRMConexion" connectionString="Data Source=172.16.1.202\SQLEXPRESS;Initial Catalog=CRM;User ID=sa;Password=D3s4rr0ll0_;" providerName="System.Data.SqlClient"/-->
  </connectionStrings>
</configuration>
